* {
    background-image: url(./GI5a.gif);
    background-repeat: no-repeat;
    background-blend-mode:screen;
    background-size:cover;
    align-content: center;
}
#head{
    text-align: center;
    font: larger;
    color: aliceblue;
    /* animation-duration: 3s; */
    animation-name: pulse;
    animation: pulse 3s ease infinite alternate, 
    nudge 5s linear infinite alternate;

}
@keyframes slidein{
    from{
        margin-left:100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width:200%;
    }
}
@keyframes nudge{
    from{
        margin-left:10%
    }
    to{
        margin-right:10%
    }
}
@keyframes nudgeman{
    from{
        margin-right:10%
    }
    to{
        margin-left:10%
    }
}
@keyframes pulse {
    0% {
      background-color: black;
    }
    100% {
      background-image: url(./tw.gif);
    }
  }
.Grid{
    animation-duration: 3s;
    animation-name: slidein;

}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    animation-duration: 3s;
    animation-name: slidein;
    background-image: url(./iCg.gif);

}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    animation-duration: 3s;
    animation-name: slidein;

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: pulse 3s ease infinite alternate, 
    nudgeman 5s linear infinite alternate;

}
#user-answer{
    background-color: rgb(0, 0, 0);
    

}
#player{
    text-align: center;
    color: rgb(0, 0, 0)
}
#submit{
    align-items: center;
}

